<div id="dash-container">

    <%= panel 'Mejores 10 productos', 'por cantidad' do %>
        <ol>
            <% @top_products.each do |p| %>
                <li><%= link_to p.name, p %></li>
            <% end %>
        </ol>
    <% end %>

    <%= chart_panel 'Mejores 10 productos', 'por cantidad' do %>
        <%= line_chart top_products_chart_path%>
    <% end %>


    <%= panel 'Peores 10 productos', 'por cantidad' do %>
        <ol>
            <% @bottom_products.each do |p| %>
                <li><%= link_to p.name, p %></li>
            <% end %>
        </ol>
    <% end %>

    <%= chart_panel 'Peores 10 productos', 'por cantidad' do %>
        <%= line_chart bottom_products_chart_path%>
    <% end %>

    <%= panel 'Mejores 10 productos', 'por total vendido' do %>
        <ol>
            <% @best_products.each do |p| %>
                <li><%= link_to p.name, p %></li>
            <% end %>
        </ol>
    <% end %>

    <%= chart_panel 'Mejores 10 productos', 'por total vendido' do %>
        <%= line_chart best_products_chart_path%>
    <% end %>


    <%= panel 'Peores 10 productos', 'por total vendido' do %>
        <ol>
            <% @worst_products.each do |p| %>
                <li><%= link_to p.name, p %></li>
            <% end %>
        </ol>
    <% end %>

    <%= chart_panel 'Peores 10 productos', 'por total vendido' do %>
        <%= line_chart worst_products_chart_path%>
    <% end %>

</div>