<p id="notice"><%= notice %></p>

<h1>Sucursales</h1>

<div id="dash-container">
  <%= panel 'Lista' do %>
    <ol>
      <% @units.each do |unit|%>
        <li><%= link_to unit.name, unit%></li>
      <% end %>
    </ol>
  <% end %>

  <%= chart_panel 'Cantidad de ventas' do %>
      <%= line_chart units_ammount_chart_path%>
  <% end %>

  <%= chart_panel 'Total vendido' do %>
      <%= line_chart units_sales_chart_path%>
  <% end %>

</div>