<div>
    <h2 id="title"><%= @unit.name %></h2>
</div>
<div id="dash-container">
    <%= panel 'Mejores 10 productos', 'por cantidad vendida' do %>
        <ol>
            <% @top_products.each do |p| %>
                <li><%= link_to p.name, p %></li>
            <% end %>
        </ol>
    <% end %>

    <%= chart_panel 'Mejores 10 productos', 'por cantidad vendida' do %>
        <%= line_chart top_products_chart_unit_path(@unit)%>
    <% end %>


    <%= panel 'Peores 10 productos', 'por cantidad vendida' do %>
        <ol>
            <% @bottom_products.each do |p| %>
                <li><%= link_to p.name, p %></li>
            <% end %>
        </ol>
    <% end %>

    <%= chart_panel 'Peores 10 productos', 'por cantidad vendida' do %>
        <%= line_chart bottom_products_chart_unit_path(@unit)%>
    <% end %>

    <%= panel 'Mejores 10 productos', 'por utilidad' do %>
        <ol>
            <% @best_products.each do |p| %>
                <li><%= link_to p.name, p %></li>
            <% end %>
        </ol>
    <% end %>

    <%= chart_panel 'Mejores 10 productos', 'por utilidad' do %>
        <%= line_chart best_products_chart_unit_path(@unit)%>
    <% end %>


    <%= panel 'Peores 10 productos', 'por utilidad' do %>
        <ol>
            <% @worst_products.each do |p| %>
                <li><%= link_to p.name, p %></li>
            <% end %>
        </ol>
    <% end %>

    <%= chart_panel 'Peores 10 productos', 'por utilidad' do %>
        <%= line_chart worst_products_chart_unit_path(@unit)%>
    <% end %>

    <%= panel 'Mejores 10 productos', 'por total vendido' do %>
        <ol>
            <% @top_products_sales.each do |p| %>
                <li><%= link_to p.name, p %></li>
            <% end %>
        </ol>
    <% end %>

    <%= chart_panel 'Mejores 10 productos', 'por total vendido' do %>
        <%= line_chart top_products_sales_chart_unit_path(@unit)%>
    <% end %>


    <%= panel 'Peores 10 productos', 'por total vendido' do %>
        <ol>
            <% @bottom_products_sales.each do |p| %>
                <li><%= link_to p.name, p %></li>
            <% end %>
        </ol>
    <% end %>

    <%= chart_panel 'Peores 10 productos', 'por total vendido' do %>
        <%= line_chart bottom_products_sales_chart_unit_path(@unit)%>
    <% end %>

</div>
