<p id="notice"><%= notice %></p>

<div id="dash-container">

    <p>
      <strong>Name:</strong>
      <%= @unit.name %>
    </p>

    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">Top 10 products</h3>
        </div>
        <ol>
            <% @top_products.each do |p| %>
                <li><%= link_to p.name, p %></li>
            <% end %>
        </ol>
    </div>

    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">Top 10 products</h3>
        </div>
        <%= line_chart top_products_chart_unit_path(@unit), legend: "bottom" %>
    </div>

    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">Bottom 10 products</h3>
        </div>
        <ol>
            <% @bottom_products.each do |p| %>
                <li><%= link_to p.name, p %></li>
            <% end %>
        </ol>
    </div>

    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">Bottom 10 products</h3>
        </div>
        <%= line_chart bottom_products_chart_unit_path(@unit), legend: "bottom" %>
    </div>

    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">Trending products</h3>
        </div>
        <ol>
            <% @trending_products.each do |p| %>
                <li><%= link_to p.name, p %></li>
            <% end %>
        </ol>
    </div>
</div>

<%= link_to 'Edit', edit_unit_path(@unit) %> |
<%= link_to 'Back', units_path %>
