<div>
    <h2 id="title"><%= @product.name %></h2>
</div>

<div id="dash-container">

  <%= panel types_title do %>
    <ul class="list-unstyled">
      <% @product.types.each do |p| %>
          <li><%= p %></li>
      <% end %>
    </ul>
  <% end %>

  <%= panel categories_title do %>
    <ul class="list-unstyled">
      <% @product.categories.each do |p| %>
          <li><%= p %></li>
      <% end %>
    </ul>
  <% end %>

  <%= panel sets_title do %>
    <ul class="list-unstyled">
      <% @product.sets.each do |p| %>
          <li><%= p %></li>
      <% end %>
    </ul>
  <% end %>

  <%= panel codes_title do %>
    <ul class="list-unstyled">
      <% @product.codes.each do |p| %>
          <li><%= p %></li>
      <% end %>
    </ul>
  <% end %>

</div>

<p>
  <strong>Num:</strong>
  <%= ProductTicket.where(product: @product).count %>
</p>
<p>By day of week</p>
<%= column_chart ProductTicket.where(product: @product).joins(:ticket).group_by_day_of_week(:time).count.map{ |k, v| [I18n.t("date.day_names")[k], v] }%>
<p>By month</p>
<%= line_chart ProductTicket.where(product: @product).joins(:ticket).group_by_month(:time).count%>
<p>By week</p>
<%= line_chart ProductTicket.where(product: @product).joins(:ticket).group_by_week(:time).count%>
<p>By month of year</p>
<%= column_chart ProductTicket.where(product: @product).joins(:ticket).group_by_month_of_year(:time).count.map{ |k, v| [I18n.t("date.month_names")[k], v] }%>