<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Types:</strong>
  <%= @types.join(',') %>
</p>

<p>
  <strong>Categories:</strong>
  <%= @categories.join(',') %>
</p>

<p>
  <strong>Sets:</strong>
  <%= @sets.join(',') %>
</p>

<p>
  <strong>Codes:</strong>
  <%= @product.codes.join(',') %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>

<p>
  <strong>Num:</strong>
  <%= ProductTicket.where(product: @product).count %>
</p>
<p>By day of week</p>
<%= column_chart ProductTicket.where(product: @product).joins(:ticket).group_by_day_of_week(:time).count.map{ |k, v| [I18n.t("date.day_names")[k], v] }%>
<p>By month</p>
<%= line_chart ProductTicket.where(product: @product).joins(:ticket).group_by_month(:time).count%>
<p>By week</p>
<%= line_chart ProductTicket.where(product: @product).joins(:ticket).group_by_week(:time).count%>
<p>By month of year</p>
<%= column_chart ProductTicket.where(product: @product).joins(:ticket).group_by_month_of_year(:time).count.map{ |k, v| [I18n.t("date.month_names")[k], v] }%>