<div>
    <h2 id="title"><%= @product.name %></h2>
</div>

<div class="dash-container">

  <%= panel types_title do %>
    <ul class="list-unstyled">
      <% @product.types.each do |p| %>
          <li><%= p %></li>
      <% end %>
    </ul>
  <% end %>

  <%= panel categories_title do %>
    <ul class="list-unstyled">
      <% @product.categories.each do |p| %>
          <li><%= p %></li>
      <% end %>
    </ul>
  <% end %>

  <%= panel sets_title do %>
    <ul class="list-unstyled">
      <% @product.sets.each do |p| %>
          <li><%= p %></li>
      <% end %>
    </ul>
  <% end %>

  <%= panel codes_title do %>
    <ul class="list-unstyled">
      <% @product.codes.each do |p| %>
          <li><%= p %></li>
      <% end %>
    </ul>
  <% end %>
  <% if @product.avg_price %>
    <%= panel 'Precio promedio' do %>
      <p>$<%= "%.2f" % [@product.avg_price] %></p>
    <% end %>
  <% end %>

</div>

<% if @product.avg_price %>
  <div class="dash-container">

    <% if !@just_one %>

      <%= chart_panel 'Cantidad de ventas' do %>
        <%= line_chart ammount_chart_product_path(@product), legend: false %>
      <% end %>

      <%= chart_panel 'Precio' do %>
        <%= line_chart price_chart_product_path(@product), legend: false %>
      <% end %>

      <%= chart_panel 'Utilidades' do %>
        <%= line_chart utilities_chart_product_path(@product), legend: false %>
      <% end %>

    <% else %>

      <%= panel 'Cantidad de ventas', 'unico mes vendido' do %>
        <p><strong> <%= @ammount.keys[0].strftime("%m-%Y") %>: </strong><%= @ammount.values[0].round(2) %></p>
      <% end %>

      <%= panel 'Precio', 'unico mes vendido' do %>
        <p><strong> <%= @price.keys[0].strftime("%m-%Y") %>: </strong><%= "$%.2f" % [@price.values[0]]%></p>
      <% end %>

      <%= panel 'Utilidades', 'unico mes vendido' do %>
        <p><strong> <%= @utilities.keys[0].strftime("%m-%Y") %>: </strong><%= "$%.2f" % [@utilities.values[0]]%></p>
      <% end %>

    <% end %>

    <%= panel 'Mejores Sucursales', 'por cantidad de ventas' do %>
      <ol>
        <% @top_units.each do |unit| %>
          <li><%= link_to unit.name, unit_path(unit)%> </li>
        <% end %>
      </ol>
    <% end %>

    <%= chart_panel 'Sucursales', 'por cantidad de ventas' do %>
      <%= correct_chart units_chart_product_path(@product) %>
    <% end %>

  </div>
<% else %>
  <div id="no-data">
    <h3>No hay datos de ventas para este producto</h3>
  </div>
<% end %>