<!DOCTYPE html>
<html>
  <head>
    <title>Garabatos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="sidebar" class="open">
      <ul class="list-unstyled">
        <%= sidebar_link 'bars', 'Abrir/Cerrar', id: 'toggle-button' %>
        <%= sidebar_link 'pie-chart', 'Dashboard', dashboard_path%>
        <%= sidebar_link 'th-list', 'Productos', products_path %>
        <%= sidebar_link 'home', 'Sucursales', units_path %>
      </ul>
    </div>
    <div id="content">
      <%= yield %>
    </div>
  </body>
</html>
